<div class="card">
    <p-table
        [value]="customers"
        [paginator]="true"
        [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[5, 10, 20]"
    >
        <ng-template #header>
            <tr>
                <th style="width:25%">Nombre</th>
                <th style="width:25%">Dirección</th>
                <th style="width:25%">Fecha de creación</th>
            </tr>
        </ng-template>
        <ng-template #body let-customer>
            <tr>
                <td>{{ customer.name }} {{ customer.lastName }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.createdAt | date: 'dd/MM/yyyy' }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
