<p-toast></p-toast>
<p-dialog [(visible)]="visible" [style]="{ width: '900px' }" [modal]="true" closable="false" header="Productos">
    <ng-template #content>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6" style="max-height: 450px; overflow-y: auto;">
            <div *ngFor="let item of articles" class="bg-white dark:bg-surface-800 rounded-lg shadow p-6 flex flex-col">
                <div class="relative mb-4 flex justify-center">
                    <img class="rounded-border w-full h-44 object-contain" [src]="item.imageUrl"
                        [alt]="item.description" />
                </div>
                <div class="flex-1 flex flex-col justify-between">
                    <div>
                        <div class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2">
                            {{ item.description }}
                        </div>
                    </div>
                    <div class="flex flex-col md:items-end gap-4 mt-4">
                        <span class="text-xl font-semibold text-surface-900 dark:text-surface-0">
                            ${{ item.price }}
                        </span>
                        <div class="flex flex-row-reverse md:flex-row gap-2">
                            <!-- Si el artículo ya está en proceso/store, muestra el botón de eliminar -->
                            <p-button *ngIf="articlesOnProcess.includes(item.id)"
                                icon="pi pi-trash"
                                class="p-button-danger flex-auto md:flex-initial whitespace-nowrap"
                                [severity]="severity.error"
                                label="Eliminar"
                                (onClick)="RemoveFromStore(item)">
                            </p-button>

                            <!-- Si NO está en proceso, muestra el botón de agregar -->
                            <p-button *ngIf="!articlesOnProcess.includes(item.id)"
                                icon="pi pi-plus"
                                class="flex-auto md:flex-initial whitespace-nowrap"
                                [severity]="severity.info"
                                label="Agregar"
                                (onClick)="AddToStore(item)">
                            </p-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <hr>
        <div class="flex justify-end mt-4">
            <p-button label="Cancelar" severity="danger" icon="pi pi-times" text (click)="HideDialog()" />
            <p-button label="Guardar" icon="pi pi-check" (onClick)="Save()" />
        </div>
    </ng-template>
</p-dialog>
